.navbar {
    background: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%2300660a' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: transparent;
    color: white;
  }
  
  .navbar-toggler:hover {
    border-color: transparent;
    color: white;
  
  }
  
  .nav-link,
  .dropdown-menu,
  .dropdown-item {
    color: #00660a;
    font-weight: 800;
    font-family: 'Aileron', sans-serif;
  }
  
  .nav-link:hover {
    color: #80cb2b;
    text-decoration: none;
  }
  
.bg-primary{
    background-color: #00660a !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;

}
.form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}


.form-control:focus,.form-control:active {
    border-color: #80cb2b !important;
}
.form-label {
    color: #00660a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
 
  .btn {
    background-color: #00660a;
    border-color: #00660a;
    color: #ffff;
    transition: all 0.3s ease-in-out;
    margin: 30px;
    font-family: 'Aileron', sans-serif;
    border-radius: 10px;
  }
  
  .btn:hover {
    background-color: #80cb2b;
    border-color: #80cb2b;
    color: #ffff;
    transform: scale(1.1);
  }
  
  input.form-control:focus {
    border-color: #80cb2b;
    box-shadow: 0 0 0 0.2rem rgba(128, 203, 43, 0.25);
    outline: none;
  }
  
  footer a {
    text-decoration: none;
    color: black;
  }
  
  footer a:hover {
    color: #80cb2b;
  }
